{% extends 'base.html' %}

{% block header %}
<h1 class="h3 mb-2 text-gray-800">Batch</h1>
<p class="mb-4"></p>
{% endblock %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Batch list</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Intake</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Year</th>
                        <th>Intake</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for batch in batchs %}
                    <tr>
                        <td>{{ batch['batch_year'] }} </td>
                        <td>{{ batch['batch_intake'] }}</td>
                        <td>{{ batch['batch_name'] }}</td>
                        <td class="d-flex">
                           
                        
                        <form action="{{ url_for('batch.delete', id=batch['id']) }}" method="post" >
                            <a href="{{ url_for('batch.update', id=batch['id']) }}" class="btn btn-success btn-circle btn-sm p-1">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button type="submit" class="btn btn-danger btn-circle btn-sm p-1" onclick="return confirm('Are you sure?');">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}