{% extends 'base.html' %}

{% block header %}
<h1 class="h3 mb-2 text-gray-800">Update Student</h1>
<p class="mb-4"></p>
{% endblock %}
{% block content %}
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-10 col-md-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Form</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="txtFirstName">First name</label>
                                <input type="text" class="form-control" id="txtFirstName" name="txtFirstName"
                                    value="{{ request.form['txtFirstName']  or student['first_name'] }}" placeholder="John" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="txtLastName">Last name</label>
                                <input type="text" class="form-control" id="txtLastName" name="txtLastName"
                                    value="{{ request.form['txtLastName'] or student['last_name'] }}" placeholder="Doe" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="txtEmail">Email address</label>
                                        <input type="email" class="form-control" id="txtEmail" name="txtEmail"
                                            value="{{ request.form['txtEmail']  or student['email'] }}" placeholder="name@example.com" required>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="txtEmail">Upload Image</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="txtFileUpload">
                                            <label class="custom-file-label" for="txtFileUpload">Choose file</label>
                                          </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="slcBatch">Batch</label>
                                        <select class="custom-select" id="slcBatch" name="slcBatch">
                                            <option value="0" selected>Choose batch...</option>
                                            {% for batch in batch_list %}
                                            <option value="{{ batch['id'] }}" {% if batch.id == student.batch_id  %} selected {% endif %}>{{ batch['batch_year'] }} - {{ batch['batch_name']
                                                }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="slcCourse">Course</label>
                                        <select class="custom-select" id="slcCourse" name="slcCourse">
                                            <option value="0" selected>Choose course...</option>
                                            {% for course in course_list %}
                                            <option value="{{ course['id'] }}" {% if course.id == student.course_id  %} selected {% endif %}>{{ course['course_name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                
                                <img src="{{ student.image }}" class="" id="txtUploadedImage" alt="..." class="img-thumbnail" height="150" width="150">

                            </div>
                        </div>

                    </div>
                    


                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-plus-circle"></i>
                                Save</button>
                        </div></div>
                    
                </form>

            </div>

        </div>
    </div>
    {% endblock %}